<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="net45" />
  <package id="Autofac.Wcf" version="3.0.1" targetFramework="net45" />
  <package id="AWSSDK" version="1.5.61.1" targetFramework="net40" />
  <package id="Azon.Helpers" version="1.0.0.36" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.3" targetFramework="net45" />
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
</packages>